/* Taken from ../HomepageFeatures/styles.module.css */
.tutorialcard {
  width: calc(50% - 20px);
  height: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #E6E8EE;
  background: #FFFFFF;
  box-shadow: 1px 2px 8px 0px #0000001A;
  margin: 10px;
}

.tutorialcard:hover {
  border: 1px solid #787D82;
}
.tutorialcardlinkcontainer:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .tutorialcard {
    width: calc(100% - 20px);
    margin: 10px 0;
  }
}

.title {
  font-family: 'GT Eesti Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #030405;
}

.emoji {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: left;
  color: #4A4E52;
}

.link {
  font-family: 'GT Eesti Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #0D61FF;
  margin-top: auto;
}
