@font-face {
  font-family: 'GT-Eesti-Display-Regular';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/developers/docs/fonts/GT-Eesti-Display-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/developers/docs/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/developers/docs/fonts/Inter-italic.var.woff2') format('woff2');
}

.text-gradient {
  background:linear-gradient(265.58deg,#9f329f -35.89%,#1161fe 96.06%);
  -webkit-background-clip:text
 }
 .text-gradient,
 .text-pwc-gradient {
  -webkit-text-fill-color:transparent;
  -webkit-box-decoration-break:clone;
  line-height:1.2;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content
 }
 .text-pwc-gradient {
  background:linear-gradient(265.58deg,#a1daa9 -35.89%,#1d9686 96.06%);
  -webkit-background-clip:text
 }
 
 .h2 {
  font-size:2rem;
  line-height:2.7rem
 }