.prose :where(code):not(:where([class~=not-prose] *)):before,
.prose :where(code):not(:where([class~=not-prose] *)):after {
  content: "" !important;
}

code {
    font-size: inherit;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 5px;
    background: #f6f9fc;
    border: 1px solid #dce6e9;
    border-radius: 3px;
    white-space: nowrap;
}

.dark code {
    color: black;
    background: #2c2c30;
    border: 1px solid #58585f;
    color: #ffffff;
}

.dark .dark\:prose-pre\:ring-1 :is(:where(pre):not(:where([class~="not-prose"] *))) {
  --tw-ring-shadow: none !important;
}
