/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'GT Eesti Display';
  src: url('/fonts/GT-Eesti-Display-Regular-7b2c45500bd08f6d098ad934759b7bb0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Eesti Display Light';
  src: url('/fonts/GT-Eesti-Display-Light-a728f2a4f92e840beb1cc388caaea938.woff') format('woff');
  font-style: normal;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3835d9;
  --ifm-color-primary-dark: #7a7eeb;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7b9efc;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GT Eesti Display Light', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #0D61FF;
}

a:hover {
  color: #0D61FF;
}

nav.navbar {
  background-color: #030405;
  font-family: 'GT Eesti Display Light', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #CFD1D9;
}

.navbar__title {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.dropdown__menu {
  background-color: #030405;
  width: 170px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #787d82;
  font-size: 16px;
}

.dropdown__menu a:hover {
  background-color: #4A4E52;
  color: #fff;
}

.dropdown__link {
  color: #fff;
}

/* Sidebar menu */
.menu__link {
  font-family: 'GT Eesti Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4A4E52;
  transition: color 0.3s;
}

.menu__link:hover,
.menu__link:focus {
  color: #0D61FF !important;
}

.menu__link.active {
  color: #0D61FF;
}

/* Headings for tutorials sidebar */
.menu__divider {
  font-family: 'GT Eesti Display', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #4A4E52;
  transition: color 0.3s;
  padding-left: var(--ifm-menu-link-padding-horizontal);
  padding-top: 30px;
}

/* breadcrumbs menu */
.breadcrumbs__item--active .breadcrumbs__link {
  color: #0D61FF;
}

.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active {
  color: #0D61FF;
}

/* breadcrumbs menu */
.pagination-nav__label {
  font-family: 'GT Eesti Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* button nav next/prev */
.pagination-nav__link:hover {
  color: #0D61FF;
  border: 1px solid #0D61FF
}

/* Get code blocks closer to site theme */
.theme-code-block {
  --prism-background-color: #EEF9FD!important;
}

/* Footer with last update time */
.theme-doc-footer {
  background-color: inherit;
}

.theme-last-updated b {
  font-weight: inherit;
}

/* Set numbering for nested lists */
ol li ol {
  list-style-type: lower-alpha;
}

ol li ol li ol {
  list-style-type: lower-roman;
}

/* icon for external links */
article a[target="_blank"]:after {
  content: url("/img/external_link.svg");
  padding-left: 5px;
}


/* Syntax highlighting */
.language-michelson .token.instruction {
  color: #007020;
  font-weight: bold;
}

.language-michelson .token.type {
  color: #902000 !important;
}

.language-michelson .token.init-keyword {
  color: #007020;
  font-weight: bold;
}

.language-michelson .token.annotation {
  color: #007020;
  font-weight: bold;
}

.language-archetype .token.prolog,
.language-archetype .token.constant {
  color: rgb(189, 147, 249);
  font-style: italic;
}
.language-archetype .token.inserted,
.language-archetype .token.function {
  color: rgb(80, 250, 123);
}
.language-archetype .token.deleted,
.language-archetype .token.error {
  color: #8B0000;
}
.language-archetype .token.changed {
  color: rgb(255, 184, 108);
}
.language-archetype .token.string,
.language-archetype .token.char,
.language-archetype .token.tag,
.language-archetype .token.selector {
  color: rgb(255, 121, 198);
}
.language-archetype .token.keyword,
.language-archetype .token.variable {
  color: rgb(189, 147, 249);
  font-style: italic;
}
.language-archetype .token.comment {
  color: rgb(98, 114, 164);
}
.language-archetype .token.archetype,
.language-archetype .token.function {
  color: #2FCAC3 !important;
}
.language-archetype .token.entry,
.language-archetype .token.declaration,
.language-archetype .token.verif {
  color: rgb(47, 202, 195);
}
.language-archetype .token.section {
  color: rgb(233, 72, 21);
}
.language-archetype .token.control,
.language-archetype .token.decl {
  color: rgb(189, 147, 249);
}
.language-archetype .token.boolean,
.language-archetype .token.builtin,
.language-archetype .token.logic,
.language-archetype .token.asset,
.language-archetype .token.access,
.language-archetype .token.crypto,
.language-archetype .token.arith {
  color: rgb(68, 134, 255);
}
.language-archetype .token.transfer,
.language-archetype .token.fail {
  color: rgb(255, 85, 85);
}
.language-archetype .token.instr,
.language-archetype .token.expr {
  font-style: italic;
}

.imported-glossary dt {
 font-weight: bold;
}
