name: CD

on:
  push:
    branches: [ staging ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm ci
      - run: npm run build
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_S3_STAGE_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_S3_STAGE_SECRET }}
          aws-region: eu-west-1
      - run: aws s3 sync ./out ${{ secrets.AWS_S3_STAGE_PATH }}
      - run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_DISTRIBUTION_STAGE }} --paths 'developers/docs/*'
